@media screen and (min-width: 400px) {
  .prod {
    margin: 0 auto;
    height: 600px;
    width: 60%;
    padding: 20px;
  }
}

@media screen and (max-width: 970px) {
  .prod {
    margin: 0 auto;
    height: 600px;
    width: 100%;
  }
}
